﻿@using BootstrapSupport
@model Object
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset class="form-horizontal">
        <legend> <small>Карточка заявки</small></legend>
        @foreach (var property in Model.VisibleProperties())
        {
            using(Html.ControlGroupFor(property.Name)){
                @Html.Label(property.GetLabel().ToSeparatedWords(), new { @class = "control-label" })
                 <div class="controls">
                     @Html.Editor(property.Name, new { @class = "input-xlarge" })
                     @Html.ValidationMessage(property.Name, null, new { @class = "help-inline" })
                 </div>
            }
        }
		<div class="form-actions">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            @Html.ActionLink("Отмена", "Index", null, new { @class = "btn " })
          </div>
    </fieldset>
}
<div>
    <a href="@Url.Action("Index")" class="btn btn-small" ><i class='icon-list'></i> Назад к списку</a><br />
</div>
