﻿@{
    ViewBag.Title = "заявки";
}
@model Adil.Models.GridState
<p>


    @Html.ActionLink("Добавить Заявку", "Create")

</p>
@using (Html.BeginForm())
{
    <table id="userTable" width="100%" class="data_grid">
        <thead>
            <tr>
                @foreach (var th in Model.Columns)
                {
                    <th>@th</th>
                }
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>Статус РП</th>
                <th></th>
                <th></th>
                <th>Статус ЦУ</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    <button class="btn btn-primary" type="submit">Перевести отмеченные заявки в статус Аннулировано</button>
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //http://www.datatables.net
            $('#userTable').dataTable({
                "sDom": 'T<"clear">lfrtip',
                "oLanguage": {
                    "sUrl": "@Url.Content("~/Content/DataTables-1.9.4/datatables.russian.txt")"
                },
                //"sDom": '<"top"i>rt<"bottom"flp><"clear">',
                //"sDom": "rt",
                "aaSorting": @Html.Raw(Model.aaSorting),
                "iDisplayStart":@Model.iDisplayStart,
                "iDisplayLength":  @Model.iDisplayLength,
                "bSearchable": true,
                //"bJQueryUI": true,
                "bLengthChange": true,
                "aLengthMenu": [[10, 15, 20, 25, 30, 50], [10, 15, 20, 25, 30, 50]],
                "bFilter": true,
                "bSort": true,
                //"bInfo": false,
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "bServerSide": true,
                "bStateSave": false,
                "sAjaxSource": '@Url.Action("GetDataTables", Model.EntityName)',
                "fnServerData": function (url, data, callback, oSettings) {
                    oSettings.jqXHR = $.ajax({
                        "url": url,
                        "data": data,
                        "success": callback,
                        "contentType": "application/x-www-form-urlencoded; charset=utf-8",
                        "dataType": "json",
                        "type": "POST",
                        "cache": false,
                        "error": function () {
                            alert("DataTables warning: JSON data from server failed to load or be parsed. " +
                                "This is most likely to be caused by a JSON formatting error.");
                        }
                    });
                },
                //,
                //"aoColumns": [
                //    { "bSortable": true },
                //    { "bSortable": true }
                //]
@*                "fnDrawCallback": function () {
                    $('.data_grid tbody tr').click(function () {
                        var redirection = $(this).attr('id');
                        document.location.href = '@Url.Action("Edit",Model.EntityName)' + "/" + redirection;
                    });

                    $('.data_grid tbody tr').hover(function () {
                        $(this).css('cursor', 'pointer');
                    }, function () {
                        $(this).css('cursor', 'auto');
                    });
                },*@
                "aoColumnDefs"  : [
                {
                    aTargets: [0],    // Column number which needs to be modified
                    fnRender: function (o, v) {   // o, v contains the object and value for the column
                        return '<input type="checkbox" name="col" value="'+v+'"/>';
                    },
                    sClass: 'tableCell'    // Optional - class to be applied to this table cell
                },
                {
                    aTargets: [6],    // Column number which needs to be modified
                    fnRender: function (o, v) {   // o, v contains the object and value for the column
                        var url = '@Url.Action("Edit", Model.EntityName)' + "/" + v;
                        var urldel = '@Url.Action("Delete", Model.EntityName)' + "/" + v;
                        return '<a href="'+url+'" class="btn btn-small" ><i class="icon-file"></i>Править</a><a href="'+urldel+'" class="btn btn-small" ><i class="icon-file"></i>Удалить</a>';
                            },
                    sClass: 'tableCell'    // Optional - class to be applied to this table cell
                }
                 ],
                "aoColumns": [
                            { "sWidth": "5%", "sClass": "left", "bSortable": true },
                            { "sWidth": "5%", "sClass": "left", "bSortable": true },
                            { "sWidth": "20%", "sClass": "left", "bSortable": true },
                            { "sWidth": "10%", "sClass": "center", "bSortable": true },
                            { "sWidth": "30%", "sClass": "right", "bSortable": true },
                            { "sWidth": "20%", "sClass": "left", "bSortable": true },
                            { "sWidth": "10%", "sClass": "right", "bSortable": false }
                ]
                    });
                    $('#userTable').dataTable().columnFilter({
                        aoColumns: [
                                        null,
                                        null,
                                        {
                                            type: "select",
                                            values: @Html.Raw(Model.Statuses)
                                },
                            null,
                            null,
                            {
                                type: "select",
                                values: @Html.Raw(Model.Statuses)
                            },
                             null
            ]
        });
                        });
    </script>

}
